* {
  margin: 0;
  padding: 0;
  font-family: 'segoe ui';
}

body {
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  margin: 0;
}

.tw-followCard {
  border-radius: 10px;
  background-color: rgb(22, 24, 28);

  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  gap: 20px
}

img {
  border-radius: 999px;
  height: 50px;
}

h1 {
  color: white;
  font-size: 20px;
}

.tw-followCard-userCard {
  height: 43px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: max-content;
}

.tw-FollowCawrd-userCard-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tw-followCard-userCard-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h2 {
  color: white;
  font-size: 15px;
}

span {
  color: rgb(113, 118, 123);
  font-size: 15px;
}

.tw-folllow-Card-userCard-btn {
  border: solid white 1px;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 16px;
  font-weight: bold;
  cursor: pointer;
}

article {
  display: flex;
  flex-direction: row;
}

.tf-Tweet-imgContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.tw-FollowCard-userCard-main {
  display: flex;
  flex-direction: row;
}

.tw-followCard-userCard-info {
  display: flex;
  flex-direction: column;
}

.tf-Tweet-bodyContainer {
  width: 520px;
}

.tf-Tweet-bodyContainer-text {
  color: white;
}

.tf-Tweet-bodyContainer-header {
  display: flex;
  flex-direction: row;
}

.tf-Tweet-bodyContainer-header span {
  padding-left: 5px;
}

.tf-Tweet-bodyContainer-options {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}